#contact_modal {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 50px;
  margin-bottom: 50px;
}

.photograph-header .name {
  color: #d3573c;
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photograph-header .portrait {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.photograph-header .location {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photograph-header .tagline {
  color: #525252;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 100px;
}

.thumbnail {
  margin-bottom: 20px;
  width: 350px;
  /*max-width: 30%;*/
}

.thumbnail img,video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.thumbnail-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 24px;
  color: #901C1C;
  margin-top: -20px;
}

.thumbnail-likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 28px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 35px;
  margin: auto;
  margin-top: 100px;
  height: 900px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  font-size: 64px;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form .input_container,
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#firstname, #lastname, #email {
  height: 68px;
}

#message {
  height: 170px;
}

#error-msg {
  color: red;
  margin: 0;
  padding: 0;
}

#lightbox {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: white;
}

/*#lightbox_img {
  width: 600px;
  height: 200px;
  object-fit:cover;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

#lightbox img, #lightbox video {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit:cover;

  
}

#lightbox_maincontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#lightbox .closeButton {
  position: fixed;
  z-index: 2;
  top: 20px;
  right: 20px;
}

.arrow-right,.arrow-left,.closeButton {
  font-size: 35px;
}

.filter_section {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
  gap: 20px;
  margin: 0 100px;
}

.filter_element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #901C1C;
  margin: 0;
  padding: 5px;
  width: 100px;
}

.filter_line {
  padding: 0;
  margin: 0;
  border: 1px white solid;
}

.filter_dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}

.filter_listmenu:hover .filter_dropdown {
  display: block;
}

.displayLikes {
  width: 376px;
  height: 62px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  position: sticky;
  z-index: 10;
  bottom: 0;
  left: 70%;
  background-color: #DB8876;
  color: black;
  font-size: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}